<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fielectric">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="fiiElectric!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FiElectric">
        <activity
            android:name="com.example.fiielectric.masini.pagina_masini_dezavantaje"
            android:exported="false" />
        <activity
            android:name="com.example.fiielectric.masini.pagina_masini_scoateBanii"
            android:exported="true" />
        <activity
            android:name="com.example.fiielectric.masini.pagina_masini_avantaje"
            android:exported="true" />
        <activity
            android:name="com.example.fiielectric.masini.pagina_masini_rabla"
            android:exported="true" />
        <activity
            android:name="com.example.fiielectric.app_related.pagina_setari"
            android:exported="true"
            android:label="Setari"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.app_related.pagina_bibliografie"
            android:exported="true"
            android:label="Bibliografie"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_despre" />
        <activity
            android:name="com.example.fiielectric.masini.pagina_masini"
            android:exported="true"
            android:label="Masini Electrice"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.biciclete.pagina_biciclete"
            android:exported="true"
            android:label="Biciclete Electrice"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.trotinete.pagina_trotinete"
            android:exported="true"
            android:label="Trotinete Electrice"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.motociclete.pagina_motociclete"
            android:exported="true"
            android:label="Motociclete Electrice"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.app_related.pagina_updates"
            android:exported="true"
            android:label="Actualizari"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.app_related.pagina_contact"
            android:exported="true"
            android:label="Conctact"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.app_related.pagina_despre"
            android:exported="true"
            android:label="Setari"
            android:parentActivityName="com.example.fiielectric.app_related.pagina_principala" />
        <activity
            android:name="com.example.fiielectric.app_related.pagina_principala"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>